.container{
    padding-left:10px;
    padding-right:10px;
}
.container h2.choice-tip{
    margin:0;
    color: #2a4371;
    font-size: 1.8rem;
    height:60px;
    line-height: 60px;
    font-weight: bold;
}
.choice-box ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}
.choice-box ul li{
    text-align: center;
    color: #fff;
    padding:10px 0;
    font-size: 1.5rem;
}
.choice-box ul li a{
    color: #fff;
    height:77px;
    display: inline-block;

}
.choice-box ul li p{
    margin-top: 15px;
    margin-bottom: 0;
}
.choice-box ul.top li:nth-child(1){
    background:#f39800;
    width: 32%;
}
.choice-box ul.top li:nth-child(2){
    background: #00a0e9;
    width: 32%;
}
.choice-box ul.top li:nth-child(3){
    background:#019845;
    width: 32%;
}
.choice-box ul.middle li:nth-child(1) a{
   display: flex;
    align-items: center;
    justify-content: center;
}
.choice-box ul.middle li:nth-child(1) a p{
    margin-left: 20px;
    margin-top: 0;
}
.choice-box ul.middle li:nth-child(1){
    background:#A30101;
    width: 66%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice-box ul.middle li:nth-child(2){
    background:#EA6001;
    width: 32%;
}
.choice-box ul.bottom li:nth-child(1){
    background:#01479D;
    width: 32%;
}
.choice-box ul.bottom li:nth-child(2){
    background:#90C21F;
    width: 32%;
}
.choice-box ul.bottom li:nth-child(3){
    background:#5F52A0;
    width: 32%;

}
@media screen and (max-width: 360px) {
    .choice-box ul li img{
        width: 45px;
        height:45px;
    }
    .choice-box ul.bottom li:nth-child(1){
        margin-right: 0.4rem;
    }
    .choice-box ul{
        margin-bottom: 0.4rem;
    }
    .choice-box ul.middle li:nth-child(3) img{
        width: 45px;
        height:45px;
    }
    .choice-box ul li{
        font-size: 1.3rem;
        padding:10px 0;
    }
}
@media screen and (min-width: 768px){
    .container h2.choice-tip{
        font-size: 2.2rem;
        height: 80px;
        line-height: 80px;
    }
    .choice-box ul li img{
        width: 100px;
        height:100px;
    }
    .choice-box ul.bottom li:nth-child(1){
        margin-right: 1rem;
    }
    .choice-box ul{
        margin-bottom: 1rem;
    }
    .choice-box ul li a {
        height: 156px;
    }
    .choice-box ul li a p{
        font-size: 2rem;
    }
}
